.anbefaltGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 95%;
    margin: auto;
    gap: 5%;
}
.anbefaltGrid img{
    width: 100%;
}
#nyeFilmer{
    min-height: 12vh;
    background-color: #1cb2a6;
    width: 100%;
    margin-top: 4vh;
    border-bottom: solid 4px #204B57;
    border-top: solid 4px #204B57;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nyeFilmer img{
    width: 10%;
}