{% extends "mal.html" %}
{% block head %}
    <title>Anbefalte filmer</title>
    <link rel="stylesheet" href='{{url_for("static", filename="anbefalt.css")}}'>
{% endblock %}
{% block main %}
    <section class="anbefaltGrid">
        {% for nummer in anbefalt_nummer %}
            <div>
                <h1>{{filmer[nummer]["navn"]}}</h1>
                <img src="{{filmer[nummer]['bilde']}}" alt="">
            </div>
        {% endfor %}
    </section>
    <section id="nyeFilmer">
        <a href="/anbefalt"><img src='{{url_for("static", filename="refreshknapp.png")}}' alt=""></a>
    </section>

{% endblock %}